/*
 * ReleansAPILib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
package com.releans.platform.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;
import com.fasterxml.jackson.core.type.TypeReference;

import com.releans.platform.*;
import com.releans.platform.models.*;
import com.releans.platform.exceptions.*;
import com.releans.platform.http.client.HttpClient;
import com.releans.platform.http.client.HttpContext;
import com.releans.platform.http.request.HttpRequest;
import com.releans.platform.http.response.HttpResponse;
import com.releans.platform.http.response.HttpStringResponse;
import com.releans.platform.http.client.APICallBack;
import com.releans.platform.controllers.syncwrapper.APICallBackCatcher;

public class SenderController extends BaseController {
    //private static variables for the singleton pattern
    private static final Object syncObject = new Object();
    private static SenderController instance = null;
    
    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the SenderController class 
     */
    public static SenderController getInstance() {
        if (null == instance) {
            synchronized (syncObject) {
                if (null == instance) {
                    instance = new SenderController();
                }
            }
        }
        return instance;
    }

    /**
     * Return the details of the sender name.
     * @param    id    Required parameter: Example: 
     * @param    accept    Required parameter: Example: 
     * @return    Returns the DynamicResponse response from the API call 
     */
    public DynamicResponse getSenderNameDetails(
                final String id,
                final String accept
    ) throws Throwable {
        APICallBackCatcher<DynamicResponse> callback = new APICallBackCatcher<DynamicResponse>();
        getSenderNameDetailsAsync(id, accept, callback);
        if(!callback.isSuccess()) {
            throw callback.getError();
        }
        return callback.getResult();
    }

    /**
     * Return the details of the sender name.
     * @param    id    Required parameter: Example: 
     * @param    accept    Required parameter: Example: 
     * @return    Returns the void response from the API call 
     */
    public void getSenderNameDetailsAsync(
                final String id,
                final String accept,
                final APICallBack<DynamicResponse> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                final HttpRequest _request;

                try {
                    //the base uri for api requests
                    String _baseUri = Configuration.getBaseUri();

                    //prepare query string for API call
                    StringBuilder _queryBuilder = new StringBuilder("/sender/view/");

                    ///process query parameters
                    Map<String, Object> _queryParameters = new HashMap<String, Object>();
                    _queryParameters.put("id", id);
                    APIHelper.appendUrlWithQueryParameters(_queryBuilder, _queryParameters);

                    //validate and preprocess url
                    String _queryUrl = APIHelper.cleanUrl(new StringBuilder(_baseUri).append(_queryBuilder));

                    //load all headers for the outgoing API request
                    Map<String, String> _headers = new HashMap<String, String>();
                    _headers.put("Accept", accept);

                    _headers.put( "Authorization", String.format("Bearer %1$s", Configuration.oAuthAccessToken) );
                    _headers.put("user-agent", BaseController.userAgent);


                    //prepare and invoke the API call request to fetch the response
                    _request = getClientInstance().get(_queryUrl, _headers, null);

                    //invoke the callback before request if its not null
                    if (getHttpCallBack() != null) {
                        getHttpCallBack().OnBeforeRequest(_request);
                    }

                } catch (Throwable e) {
                    callBack.onFailure(null, e);
                    return;
                }

                //invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {


                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null) {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            DynamicResponse _result = new DynamicResponse(_response);

                            callBack.onSuccess(_context, _result);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null) {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Create a new sender id to send messages using it
     * @param    accept    Required parameter: Example: 
     * @param    contentType    Required parameter: Example: 
     * @param    body    Required parameter: Example: 
     * @return    Returns the Response200 response from the API call 
     */
    public Response200 createSenderName(
                final String accept,
                final String contentType,
                final String body
    ) throws Throwable {
        APICallBackCatcher<Response200> callback = new APICallBackCatcher<Response200>();
        createSenderNameAsync(accept, contentType, body, callback);
        if(!callback.isSuccess()) {
            throw callback.getError();
        }
        return callback.getResult();
    }

    /**
     * Create a new sender id to send messages using it
     * @param    accept    Required parameter: Example: 
     * @param    contentType    Required parameter: Example: 
     * @param    body    Required parameter: Example: 
     * @return    Returns the void response from the API call 
     */
    public void createSenderNameAsync(
                final String accept,
                final String contentType,
                final String body,
                final APICallBack<Response200> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                final HttpRequest _request;

                try {
                    //the base uri for api requests
                    String _baseUri = Configuration.getBaseUri();

                    //prepare query string for API call
                    StringBuilder _queryBuilder = new StringBuilder("/sender/create");

                    //validate and preprocess url
                    String _queryUrl = APIHelper.cleanUrl(new StringBuilder(_baseUri).append(_queryBuilder));

                    //load all headers for the outgoing API request
                    Map<String, String> _headers = new HashMap<String, String>();
                    _headers.put("Accept", accept);
                    _headers.put("Content-Type", contentType);

                    _headers.put( "Authorization", String.format("Bearer %1$s", Configuration.oAuthAccessToken) );
                    _headers.put("user-agent", BaseController.userAgent);


                    //prepare and invoke the API call request to fetch the response
                    _request = getClientInstance().postBody(_queryUrl, _headers, body);

                    //invoke the callback before request if its not null
                    if (getHttpCallBack() != null) {
                        getHttpCallBack().OnBeforeRequest(_request);
                    }

                } catch (Throwable e) {
                    callBack.onFailure(null, e);
                    return;
                }

                //invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {


                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null) {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            Response200 _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<Response200>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null) {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * List all senders names associated with the account
     * @param    accept    Required parameter: Example: 
     * @return    Returns the List<Response2001> response from the API call 
     */
    public List<Response2001> getAllSenders(
                final String accept
    ) throws Throwable {
        APICallBackCatcher<List<Response2001>> callback = new APICallBackCatcher<List<Response2001>>();
        getAllSendersAsync(accept, callback);
        if(!callback.isSuccess()) {
            throw callback.getError();
        }
        return callback.getResult();
    }

    /**
     * List all senders names associated with the account
     * @param    accept    Required parameter: Example: 
     * @return    Returns the void response from the API call 
     */
    public void getAllSendersAsync(
                final String accept,
                final APICallBack<List<Response2001>> callBack
    ) {
        Runnable _responseTask = new Runnable() {
            public void run() {

                final HttpRequest _request;

                try {
                    //the base uri for api requests
                    String _baseUri = Configuration.getBaseUri();

                    //prepare query string for API call
                    StringBuilder _queryBuilder = new StringBuilder("/sender");

                    //validate and preprocess url
                    String _queryUrl = APIHelper.cleanUrl(new StringBuilder(_baseUri).append(_queryBuilder));

                    //load all headers for the outgoing API request
                    Map<String, String> _headers = new HashMap<String, String>();
                    _headers.put("Accept", accept);

                    _headers.put( "Authorization", String.format("Bearer %1$s", Configuration.oAuthAccessToken) );
                    _headers.put("user-agent", BaseController.userAgent);


                    //prepare and invoke the API call request to fetch the response
                    _request = getClientInstance().get(_queryUrl, _headers, null);

                    //invoke the callback before request if its not null
                    if (getHttpCallBack() != null) {
                        getHttpCallBack().OnBeforeRequest(_request);
                    }

                } catch (Throwable e) {
                    callBack.onFailure(null, e);
                    return;
                }

                //invoke request and get response
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {


                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null) {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            List<Response2001> _result = APIHelper.deserialize(_responseBody,
									new TypeReference<List<Response2001>>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null) {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

}